@charset "UTF8";

*{
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:root{
    --branco: #fff;
}


body{
    height: 100vh;
    width: 100vw;
    
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 50px 1fr 30px;
}

header{
    height: 50px;
    text-align: left;
    padding: 15px;
    box-shadow: 2px 2px 2px black;

    grid-area: 1/1/2/4;
    
    display: flex;
    justify-content: left;
    align-content: center;
}

header img{
    width: 30px;
    height: 30px;
}

main{
    grid-area: 2/2/3/3;
}

footer{
    grid-column: 2/3;
    grid-row: 3/4;
}