@charset "UTF8";

*{
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:root{
    --branco: #fff;
    --preto: #000;
    --verde: #67be9b;
    --verde-claro: #95d0b8;
    --bege: #fcfcd7;
    --amarelo: #f1db42;
    --vermelho: #f04158;
}

body{
    height: 100vh;
    width: 100vw;
    
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 50px 1fr 30px;
    background: linear-gradient(120deg, #95d0b8ad 30%, #fcfcd7);
}

header{
    height: 50px;
    text-align: left;
    padding: 15px;
    box-shadow: 2px 2px 2px black;

    grid-area: 1/1/2/4;
    
    display: flex;
    justify-content: left;
    align-content: center;
}

header img{
    width: 30px;
    height: 30px;
}

main{
    grid-area: 2/2/3/3;
}

section{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

    padding: 10px;
    height: 100%;
}

div.section{
    align-content: space-between;
}

section h1{
    margin: 5px;
    margin-bottom: 30px;
}

/*todas divs da section*/
section > div > div{
    padding: 20px;
}

/*exceto o botao*/
div.div{
    background-color: var(--branco);
    border-radius: 10px;
    border: 1px dashed black;
    height: auto;
    text-align: left;
    padding: 15px;
}

input{
    border: none;
    margin-top: 15px;
    width: 100%;
}

article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    gap: 10px;
    width: 100%;
}

#peso{
    width: 48%;
}

#altura{
    width: 48%;
}

div#calcular{
    text-align: center;
}

.botao{
    background-color: var(--verde);
    color: var(--branco);
    height: 40px;
    width: 120px;
    border-radius: 40px;
    font-size: 1.2em;
    border: none;
    box-shadow: 1px 2px 5px #457e67;
}

.botao:hover{
    background-color: #457e67;
    font-size: 1.3em;
    box-shadow: 1px 2px 5px black;
}

footer{
    grid-column: 2/3;
    grid-row: 3/4;
}

@media (max-width: 380px) {
    #peso{
        width: 100%;
        transition: .2s;
    }
    
    #altura{
        width: 100%;
        transition: .2s;
    }
}